@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Kumbh Sans', sans-serif;
}
main{
    height: 100vh;
    background: linear-gradient(
        rgba(173,104,233,255), 
        rgba(106,99,231,255)
    );
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .box is a class for the cube that is on top of the other images */
.box{
    display: block;
    position: absolute;
    left: 15%;
    top: 46%;
}
/*white card container */
.faq{
    width: 60%;
    height: 60%;
    display: flex;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px  hsl(240, 6%, 50%);
}
/* added svg images as backgrounds */
.faq__svgImages{
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20rem 0;
    width: 50%;
}
.svgImages__woman{
    height: 100%;
    width: 100%;
    background-image: url(images/illustration-woman-online-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -15rem 5rem;
}
/* End of svgs */
/* begining of the question/answer section */
.faq__questions{
    height: 100%;
    width: 50%;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.faq__questions h1{
    margin-left: 1rem;
    display: block;
    font-size: 3rem;
}
.question{
    color:hsl(240, 6%, 50%);
    width: 60%;
    border-bottom: 1px solid hsl(240, 6%, 50%);
    margin: 1rem 0;
    overflow: hidden;
}
.btn_arrow{
    color: hsl(237, 12%, 33%);
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;  
}
.btn_arrow span{
    font-size: 1.3rem;
}
.answer{
    font-size: 1.2rem;
    padding: 1rem 0;
    width: 100%;
}
.btn_arrow:focus{
    padding: 1rem 0;
    height: unset;
    transition: all 300ms ease-in;
}
/* end of question/answer section */