@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Kumbh Sans', sans-serif;
}
main{
    height: 100vh;
    background: linear-gradient(
        rgba(173,104,233,255), 
        rgba(106,99,231,255)
    );
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .box is a class for the cube that is on top of the other images */
.box{
    display: block;
    position: absolute;
    left: 15%;
    top: 46%;
}
/*white card container */
.faq{
    width: 60%;
    height: 60%;
    display: flex;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px  hsl(240, 6%, 50%);
}
/* added svg images as backgrounds */
.faq__svgImages{
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20rem 0;
    width: 50%;
}
.svgImages__woman{
    height: 100%;
    width: 100%;
    background-image: url(images/illustration-woman-online-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -15rem 5rem;
}
/* End of svgs */
/* begining of the question/answer section */
.faq__questions{
    height: 100%;
    width: 50%;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.faq__questions h1{
    display: block;
    font-size: 3rem;
}
.grid-wrapper{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: repeat(5, 1fr);
    grid-column: 1/-1;
    padding: 1rem 0;
}
.question p{
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
}
.question{
    cursor: pointer;
    position: relative;
    top: 0;
    text-align: left;
    padding: 0;
    background: none;
    background-image: url(images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: top right;
    border: none ;
    display: block;
    width: 80%;
    height: 25%;
    border-bottom: 1px solid hsla(240, 6%, 50%, 30%);
    overflow: hidden;
}
 .question:focus{
    background-image: url(images/icon-arrow-up.svg);
    background-repeat: no-repeat;
    background-position: top right;
    transition: all 400ms ease-in-out;
    height: 80%;
} 
.answer{
    color: hsl(237, 12%, 33%);
    font-size: 1.2rem;
    width: 100%;
}
/* end of question/answer section */